
.topbar{
    width: 100%;
    height: 100px;
    background-color: gray;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
        .left{
            display: flex;
            align-items: center;
            .img {
                height: 100%;
                width: 100%;
                object-fit: contain;
               }
            .logo {
                padding-left: 10px;
                height:50px;
                width: auto;
               }
        }
        
        
        .right{
        display: flex;
        flex-direction: row;
        align-items: center;
        }
    }

    .home-btn{
        display: flex;
        width: 100px;
        justify-content: center;
        padding: 0.5rem;
        background-color: white;
        border: none;
        transition: 0.2s;
        margin-right: 1rem;
        border-radius: 5px;
        cursor: pointer;
        
        &.create{
            width: 150px;
        }
    }
    .home-btn:hover{
        background: #FFCB05;
    }

    .order-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 150px;
        height: 70px;
        background-color: lightgray;
        border-radius: 7px;
        align-items: center;
        margin-left: 20px;
    }

    .filter-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px;
        height: 90px;
        background-color: lightgray;
        border-radius: 7px;
        align-items: center;
        margin-left: 20px;
    }

