
.form-box{
    max-width: 25%;
    height: auto;
    border: 5px solid #3466AF;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw ;
    position:relative; 
}
.form-box h5{
    font-size: 30px ;
    text-align: center;
    color: #3466AF;
    margin: 0;
}

.form-box input{
    display: block;
    width: 90%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border: 1;
    border-radius: 5px;
    font-size: 15px;
}
.createBtn{
    display: inline-block;
    width: auto;
    height: 2rem;
    border: 1;
    bottom: 0;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 20px; 
}
.createBtn:hover{
    cursor: pointer;
}
.createBtn:disabled{
    cursor: auto;
    color: white;
    background-color: red;
}
.createBtn:enabled{
    color: white;
    background-color: green;
}



.form-box label{
    display: block;
    text-align: left;
    font-size: 17px;
    margin: 0 0 0.5vh 0;
}

.form-box select{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border: 1;
    border-radius: 5px;
    font-size: 15px;
}